@model Bekhar.Models.RegisterViewModel
@{
    Page.Title = "ثبت نام";
    Page.CustomCSS = "~/Content/css/register.css";
}


<div class="container h-100">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card">
            <div class="d-flex justify-content-center">
                <div class="brand_logo_container deep-orange lighten-5">
                    <img class="brand_logo" src="@Href("~/Content/image/logo.png")" />
                </div>
            </div>

            <div class="d-flex justify-content-center form_container">

                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { id = "lform", role = "form" , @class="w-100 px-3" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })

                    <input type="hidden" name="Moaref" value="@ViewBag.Moaref"/>
                    <div class="input-group mb-3">
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control input_user flex-grow-0", @placeholder="نام" })
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control input_user flex-grow-0", @placeholder = "ایمیل" })
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control input_user flex-grow-0", @placeholder = "شماره تلفن" })
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-phone"></i></span>
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control input_pass flex-grow-0", @placeholder = "رمز عبور" })
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control input_pass flex-grow-0", @placeholder = "تکرار رمز عبور" })
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                    </div>
                    
                    <div class="d-flex justify-content-center login_container">
                        <input type="submit" class="btn deep-orange " value="ثبت نام" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
