@using Bekhar.Models
@model Bekhar.Models.Kala


@{
    Page.Title = "تایید خرید";
}

<div class="container mt-3">
    <div class="card p-3 mx-auto" style="width:500px">
        <table class="table">
            <tr>
                <td class="col-5 text-center font-weight-bold">
                    عنوان کالا
                </td>
                <td class="col-7">
                    @Model.Name
                </td>
            </tr>

            <tr>
                <td class="text-center font-weight-bold">
                    دسته
                </td>
                <td>
                    @Model.Category
                </td>
            </tr>
            <tr>
                <td class="text-center font-weight-bold">
                    توضیحات کالا
                </td>
                <td>
                    @Model.Description
                </td>
            </tr>
            <tr>
                <td class="text-center font-weight-bold">
                   شهر و محله فروشنده
                </td>
                <td>
                    @Model.City - @Model.Location
                </td>
            </tr>
            <tr>
                <td class="text-center font-weight-bold">
                    نام فروشنده
                </td>
                <td>
                    @Model.Username
                </td>
            </tr>
            <tr>
                <td class="text-center font-weight-bold">
                    شماره تماس فروشنده
                </td>
                <td>
                    @Model.Mobile
                </td>
            </tr>

            <tr>
                <td class="text-center font-weight-bold">
                    قیمت کالا
                </td>
                <td>
                    @Utility.GetCommaSeperatedNumber(Model.Price.ToString()) تومان
                </td>
            </tr>
        </table>
        <div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="d-flex justify-content-end">
                    <a class="btn btn-outline-danger" href="/Kala/Details/@Request["KalaId"]">بازگشت</a>
                    <input type="submit" value="خرید" class="btn btn-success" />
                </div>
            }
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
