@using Bekhar.Models
@model IEnumerable<Bekhar.Models.Kharid>

@{
    Page.Title = "خریدهای من";
}

<div class="container mt-5">
    <table class="table table-striped table-bordered">
        
        
        <thead class="thead-light">
            <tr>
                <th class="text-center col-1">
                    #
                </th>
                <th class="text-center col-4">
                    @Html.DisplayNameFor(model => model.KharidarUsername)
                </th>
                <th class="text-center col-4">
                    @Html.DisplayNameFor(model => model.ForoshandeUsername)
                </th>
                <th class="text-center col-2">
                    @Html.DisplayNameFor(model => model.State)
                </th>
                <th class="text-center col-1" style="font-size:0.8rem;">
                    تائیدیه خرید
                </th>
            </tr>
        </thead>
        
        
        
        
        <tbody>
            @{ var i = 1;}
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center p-2 align-middle">
                        @i
                        @{ i++; }
                    </td>
                    <td class="text-center p-2 align-middle">
                        @Html.DisplayFor(modelItem => item.KharidarUsername)
                    </td>
                    <td class="text-center p-2 align-middle">
                        @Html.DisplayFor(modelItem => item.ForoshandeUsername)
                    </td>
                    <td class="text-center p-2 align-middle">
                        @if (item.State == @KharidState.Completed)
                        {
                            <span class="text-success"> تایید شده </span>
                        }
                        else
                        {
                            <span class="text-warning"> در انتظار تایید </span>
                        }
                    </td>
                    <td class="text-center p-2 align-middle">
                        @if (item.canBeApproved)
                        {
                            @Html.ActionLink("تایید", "Edit", new { id=item.KalaId }, new { @class="btn btn-success py-2 px-3 m-0"}) 
                        }
                        else
                        {
                            <span class="text-muted">---</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
