<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>غوره :: @Page.Title</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.0.0/css/bootstrap.min.css" integrity="sha384-P4uhUIGk/q1gaD/NdgkBIl3a6QywJjlsFJFk7SPRdruoGddvRVSwv5qFnvZ73cpz" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous" />
    @{var style = "~/Content/css/mdb.min.css";}
    <link rel="stylesheet" type="text/css" href="@Href(style)" />
    @{style = "~/Content/css/style.css";}
    <link rel="stylesheet" type="text/css" href="@Href(style)" />


</head>
<body class="yekan">

    <header>
        <nav class="navbar fixed-top deep-orange lighten-1">
            <a class="navbar-brand white-text yekan" href="#">
                <i class="fas fa-frog" style="font-size: 2rem;">
                    <span class="brand" style="margin-right: 1rem; vertical-align: top;">غوره</span>
                </i>
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <i class="mdi mdi-menu-open"></i>
            </button>

            <ul class="nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link bk-nav-link" href="#">درباره ما </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link bk-nav-link" href="#">تماس با ما</a>
                </li>
            </ul>
            <a class="btn btn-outline-white white-text yekan px-3" href="~/Kala/Create">
                <span style="vertical-align: top; font-weight: bold; font-size: 1rem;"> آگهی جدید </span>
                <i class="fa fa-plus" style="font-size: 1.5rem; vertical-align: middle;"></i>
            </a>
        </nav>
    </header>
    @RenderBody()

    <footer class="page-footer font-small blue-grey darken-2">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3" style="direction:ltr;">
            © 2018 Copyright:
            <a href="#"> RishMinds </a>
        </div>
        <!-- Copyright -->

    </footer>

    @{ var jq = "~/Content/js/jquery-3.3.1.min.js";
        var md = "~/Content/js/mdb.min.js";
    }
    <script type="text/javascript" src="@Href(jq)"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.rtlcss.com/bootstrap/v4.0.0/js/bootstrap.min.js" integrity="sha384-54+cucJ4QbVb99v8dcttx/0JRx4FHMmhOWi4W+xrXpKcsKQodCBwAvu3xxkZAwsH" crossorigin="anonymous"></script>
    <script src="@Href(md)"></script>

    @Scripts.Render("~/bundles/jquery")
    <script src="https://cdn.rtlcss.com/bootstrap/v4.0.0/js/bootstrap.min.js" integrity="sha384-54+cucJ4QbVb99v8dcttx/0JRx4FHMmhOWi4W+xrXpKcsKQodCBwAvu3xxkZAwsH" crossorigin="anonymous"></script>
    @Scripts.Render("~/bundles/bootstrap")
    <script src="@Href(md)"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
