@model Bekhar.Models.Kala

@{
    Page.Title = "ثبت آگهی جدید";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container">
        <h3 class="text-center py-3 my-1 grey-text">
            ثبت آگهی جدید
        </h3>

        <div class="jumbotron">      
            <!--
            <div>
                تصاویر
                <input type="file" class="form-control-file" style="direction: rtl">

                <!--<label class="btn btn-outline-secondary active">-->
                <!--<input type="radio" name="options" id="option1" autocomplete="off" checked>-->
                <!--درخواستی-->
                <!--</label>-->
                <!--<input type="file" class="form-control-file" style="direction: rtl">-->

            <!--
            </div> -->

            
                        <!--

            <div style="direction: rtl">
                <label for="radioButton">نوع آگهی</label>

                <div class="btn-group btn-group-toggle" data-toggle="buttons" id="radioButton">
                    <label class="btn btn-outline-secondary active">
                        <input type="radio" name="options" id="option1" autocomplete="off" checked>
                        درخواستی
                    </label>
                    <label class="btn btn-outline-secondary">
                        <input type="radio" name="options" id="option2" autocomplete="off"> فروشی
                    </label>
                </div>
            </div>
            -->
            
            <div class="row">
                <div class="col-9">
                    <div class="form-group">
                        <label for="adTitle">عنوان آگهی</label>
                        <input type="text" class="form-control" name="Name">
                    </div>
                </div>
                <div class="col-3">
                    <label for="category">دسته بندی</label>
                    <div class="input-group">
                        <select class="browser-default custom-select" id="category" name="Category">
                            <option value="" selected disabled>دسته بندی کالا را انتخاب کنید</option>
                            @{
                                var categories = Bekhar.Models.Utility.GetAllCategories();
                            }
                            @foreach (var category in categories)
                            {
                                <option value="@category.Id.ToString()">@category.Name</option>
                            }
                        </select>
                    </div>
                </div>
            </div>

            <div>
                <div class="form-group">
                    <label for="adDescription">توضیحات آگهی:</label>
                    <textarea class="form-control" rows="5" name="Description"></textarea>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col">
                    <label for="city">شهر</label>
                    <div class="input-group">
                        <select class="browser-default custom-select" id="city" name="City">
                            <option value="" selected disabled>شهر خود را انتخاب کنید</option>
                            @{
                                var cities = Bekhar.Models.Utility.GetAllCities();
                            }
                            @foreach (var city in cities)
                            {
                                <option value="@city">@city</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col">
                    <label for="zone">محله</label>
                    <div class="input-group">
                        <input type="text" id="zone" name="Location" class="form-control" placeholder="نام محله خود را وارد کنید" />
                    </div>
                </div>
                <!--
                <div class="col">
                    <label for="zone">شماره موبایل</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="Mobile" placeholder="000000000" style="direction:ltr;" disabled>
                        <div class="input-group-append">
                            <span class="input-group-text">09</span>
                        </div>

                    </div>
                </div>
                    -->
            </div>
            <div>
                <div class="input-group">
                    <input type="text" class="form-control" name="Price" placeholder="قیمت" />
                    <div class="input-group-append">
                        <span class="input-group-text">تومان</span>
                    </div>
                </div>
            </div>
            
            <div class="row mr-1" style="direction:ltr;">
                <input type="submit" class="btn deep-orange" value="ثبت آگهی" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}