@model Bekhar.Models.Kala

@{
    Page.Title = "ثبت آگهی جدید";
    Page.CustomCSS = "~/Content/css/create_kala.css";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container">
        <h3 class="text-center py-3 my-1 grey-text">
            ثبت آگهی جدید
        </h3>

        <div class="jumbotron">      
            <div class="row">
                <div class="col-7">
                    <div class="form-group">
                        <label for="adTitle">عنوان آگهی</label>
                        <input type="text" class="form-control" name="Name">
                    </div>
                </div>
                <div class="col-3">
                    <label for="category">دسته بندی</label>
                    <div class="input-group">
                        <input type="hidden" value="" id="adCategory" name="Category" />
                        <script>
                            function updateCat(selectedCat)
                            {
                                // alert(JSON.stringify(data));
                                // alert($("#category").children("option:selected").attr("value"));
                                
                                $("#adCategory").attr("value", selectedCat);//$("#category").children("option:selected").attr("value"));

                                //if ($("#adCategory").attr("value") === null)
                                //{
                                //    $("#adCategory").attr("value", "")
                                //}

                                $.ajax({
                                method: "POST",
                                url: "/Kala/GetCategoryByParentId",
                                data: { "id": selectedCat },
                                success: function (result)
                                {
                                    $("#category").html("");
                                    for (var i = 0; i < result.length; i++)
                                    {
                                        var cat = result[i];
                                        $("#category").append("<option value='" + cat.id + "'>" + cat.Name + "</option>");
                                    }
                                },
                                error: function (result)
                                {
                                    alert(result.status);
                                }
                                });
                               
                            }
                            $(document).ready(function () {
                            updateCat("");
                            });
                        </script>
                        
                        <select class="browser-default custom-select" id="category" onchange="alert($(this).val);" >
                            
                            <option value="" selected disabled>دسته بندی کالا را انتخاب کنید</option>
                            @*@{
                                var categories = Bekhar.Models.Utility.GetAllCategories();
                            }
                            @foreach (var category in categories)
                            {
                                <option value="@category.Id.ToString()" >@category.Name</option>
                            }*@
                        </select>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <label for="mozToggle">
                            مزایده
                        </label>
                        <div class="input-group">
                            <label class="switch">
                                <input type="checkbox" class="primary" onchange="toggleMozayede(this);" id="mozToggle">
                                <span class="slider"></span>
                            </label>
                        </div>
                    </div>
                    
                    @*<label for="adType">نوع آگهی</label>
                    <div class="input-group">
                        <input type="checkbox" class="checkbox" onchange="toggleMozayede();" />
                    </div>*@
                </div>
            </div>
            <script>
                function toggleMozayede(ch)
                {
                    // $("#moz").hidden = !$("#moz").hidden;
                    document.getElementById("moz").style.display = ch.checked ? "flex" : "none";
                    document.getElementById("adPriceLabel").innerHTML = ch.checked ? "قیمت پایه مزایده" : "قیمت";
                }
            </script>
            <div id="moz" class="row" style="display: none;">
                <div class="col-6">
                    <label for="adDeadlineData">تاریخ اتمام مزایده</label>
                    <div class="form-group">
                        <input class="form-control" type="date" name="DeadlineData" />
                    </div>
                </div>
                <div class="col-6">
                    <label for="adDeadlineTime">ساعت اتمام مزایده</label>
                    <div class="form-group">
                        <input class="form-control" type="time" name="DeadlineTime" />
                    </div>
                </div>
            </div>

            <div>
                <div class="form-group">
                    <label for="adDescription">توضیحات آگهی</label>
                    <textarea class="form-control" rows="5" name="Description"></textarea>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col">
                    <label for="city">شهر</label>
                    <div class="input-group">
                        <select class="browser-default custom-select" id="city" name="City">
                            <option value="" selected disabled>شهر خود را انتخاب کنید</option>
                            @{
                                var cities = Bekhar.Models.Utility.GetAllCities();
                            }
                            @foreach (var city in cities)
                            {
                                <option value="@city">@city</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col">
                    <label for="zone">محله</label>
                    <div class="input-group">
                        <input type="text" id="zone" name="Location" class="form-control" placeholder="نام محله خود را وارد کنید" />
                    </div>
                </div>
                <!--
                <div class="col">
                    <label for="zone">شماره موبایل</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="Mobile" placeholder="000000000" style="direction:ltr;" disabled>
                        <div class="input-group-append">
                            <span class="input-group-text">09</span>
                        </div>

                    </div>
                </div>
                    -->

            </div>
            <div class="row">
                <div class="col-5">
                    <label for="adPrice" id="adPriceLabel">قیمت</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="Price" id="adPrice" />
                        <div class="input-group-append">
                            <span class="input-group-text">تومان</span>
                        </div>
                    </div>
                </div>
                <div class="col-7">
                    <label for="inputGroupFile01">عکس</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupFileAddon01"><i class="fas fa-upload"></i></span>
                        </div>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                            <label class="custom-file-label text-muted" for="inputGroupFile01">عکس مرتبط با آگهی را انتخاب کنید . . .</label>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row mr-1" style="direction:ltr;">
                <input type="submit" class="btn deep-orange" value="ثبت آگهی" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}