@using Bekhar.Models
@model Bekhar.Models.Kala

@{
    Page.Title = "نمایش کالا";
}

<div class="container pt-3 mb-5">
    <div class="row ">
        <div class="col-6">
            <h2>@Model.Name</h2>
            <p>تاریخ: @Model.CreationTime.GetPersianStr()</p>
            @if(Model.DataType == ModelType.Mozayede)
            {
            <span id="countdown">
                زمان باقی مانده از مزایده: 
                <span id="sec">

                </span>
                :
                <span id="min">

                </span>
                :
                <span id="hour">

                </span>
            </span>
            }
            <table class="table">


                <tr>
                    <td class="text-center font-weight-bold">دسته بندی</td>
                    <td> @Model.Category</td>
                </tr>

                <tr>
                    <td class="text-center font-weight-bold">محل</td>
                    <td>@Model.City - @Model.Location</td>
                </tr>
                <tr>
                    <td class="text-center font-weight-bold">قیمت</td>
                    <td>@Utility.GetCommaSeperatedNumber(Model.Price.ToString()) <span class="font-weight-bold">تومان</span></td>
                </tr>
                <tr>
                    <td class="text-center font-weight-bold">موبایل</td>
                    <td> @Model.Mobile </td>
                </tr>

                <tr>
                    <td class="text-center font-weight-bold">ایمیل</td>
                    <td> @Model.Email</td>
                </tr>

            </table>
            <p><span class="font-weight-bold"> توضیحات: </span> 
                @Model.Description
            </p>
            <div class="text-center">
                <a href="/Kharids/Create?KalaId=@(Model.Id)" class="btn btn-success">خرید</a>
            </div>
            
        </div>
        <div class="col-6 ">
            <img src="https://via.placeholder.com/450" class="rounded" style="width:inherit;">
            <p class="text-center pt-2 grey-text">غوره هیچگونه مسوولیتی ندارد</p>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        setInterval(function time() {
            var d = new Date(@Model.DeadlineTimeStamp);
            var hours = 23 - d.getHours();
            var min = 60 - d.getMinutes();
            if ((min + '').length == 1) {
                min = '0' + min;
            }
            var sec = 60 - d.getSeconds();
            if ((sec + '').length == 1) {
                sec = '0' + sec;
            }
            jQuery('#countdown #hour').html(hours);
            jQuery('#countdown #min').html(min);
            jQuery('#countdown #sec').html(sec);
        }, 1000);
    });
</script>
