@using Bekhar.Models
@{
    Page.Title = "صفحه اصلی";
    int selectedCat = -1;
    if (Request.QueryString["cat"] != null)
    {
        selectedCat = int.Parse(Request.QueryString["cat"]);
    }
}

<div class="wrapper">
    <!-- Sidebar Starts here -->
    <nav class="bk-sidebar pb-3">
        @*<div class="bk-sidebar-header">
            @if (selectedCat != -1)
            {
                <h5>@Utility.GetCategoryById(selectedCat).Name</h5>
            }
            else
            {
                <h5>دسته بندی کالا ها</h5>
            }
        </div>*@

        <ul class="list-group components">
            @{
                List<Category> categories;
                if (selectedCat != -1)
                {
                    categories = Utility.GetCategoryByParentId(selectedCat);
                }
                else
                {
                    categories = Utility.GetAllCategories();
                }

            }
            @foreach (Category category in categories)
            {
                <li class="list-group-item sidebar-item">
                    <a href="/?cat=@category.Id">
                        <span class="sidebar-item-text"> @category.Name </span>
                    </a>
                </li>
            }
            <!--
            <li class="list-group-item sidebar-item">
                <span class="sidebar-item-text"> ماشین </span>
            </li>
            <li class="list-group-item sidebar-item">
                <span class="sidebar-item-text"> ماشین </span>
            </li>
            <li class="list-group-item sidebar-item">
                <span class="sidebar-item-text"> لوازم آشپزخانه </span>
            </li>
            <li class="list-group-item sidebar-item">
                <span class="sidebar-item-text"> لوازم التحریر </span>
            </li>
            <li class="list-group-item sidebar-item">
                <span class="sidebar-item-text"> کفش </span>
            </li>
            <li class="list-group-item sidebar-item">
                <span class="sidebar-item-text"> پوشاک </span>
            </li>
            <li class="list-group-item sidebar-item">
                <span class="sidebar-item-text"> یراق آلات </span>
            </li>
            <li class="list-group-item sidebar-item">
                <span class="sidebar-item-text"> پارچه </span>
            </li>
            <li class="list-group-item sidebar-item">
                <span class="sidebar-item-text"> کتاب </span>
            </li>
                -->
        </ul>
    </nav>

    <div class="container-fluid pt-4 px-4 yekan">
        <form method="post" action="/?@(Request.QueryString.ToString())" id="search-form">
            <div class="jumbotron mx-2" style="">
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="عنوان کالای مورد نظر را وارد کنید" name="keyword" value="@ViewBag.keyword" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">قیمت از</span>
                            </div>
                            <input type="text" class="form-control" name="PriceMin" value="@ViewBag.priceMin" />
                            <div class="input-group-postpond">
                                <span class="input-group-text">تا</span>
                            </div>
                            <input type="text" class="form-control" name="PriceMax" value="@ViewBag.priceMax" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="input-group">
                            <select class="browser-default custom-select" id="city" name="City">
                                @{
                                    var cities = Bekhar.Models.Utility.GetAllCities();
                                }
                                @if (ViewBag.city == null)
                                {
                                    <option value="" selected disabled>شهر خود را انتخاب کنید</option>
                                    foreach (var city in cities)
                                    {
                                        <option value="@city">@city</option>
                                    }
                                }
                                else
                                {
                                    <option value="">شهر خود را انتخاب کنید</option>
                                    foreach (var city in cities)
                                    {
                                        <option value="@city" selected="@(city == ViewBag.city)">@city</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group">
                            <input type="text" id="zone" name="Location" class="form-control" placeholder="نام محله خود را وارد کنید" value="@ViewBag.location" />
                        </div>
                    </div>
                    <div class="col">
                        <button class="input-group-text deep-orange white-text px-4" onclick="document.getElementById('search-form').submit();" style="display:block;">جستجو <i class="fa fa-search ml-2"></i></button>
                    </div>
                </div>

            </div>
        </form>
        
        <div class="container d-flex flex-row-reverse justify-content-end">
            @{
                int cat = selectedCat;
                if (cat != -1)
                {
                    while (Utility.GetCategoryById(cat).ParentId != null)
                    {
                        <span style="border-radius:0.5rem; border-color:#e5e9ec; background:#f5f9fe" class="ml-2 p-2"> > @Utility.GetCategoryById(cat).Name </span>
                        cat = (int)Utility.GetCategoryById(selectedCat).ParentId;
                    }
                    <span style="border-radius:0.5rem; border-color:#e5e9ec; background:#f5f9fe" class="ml-2 p-2"> @Utility.GetCategoryById(cat).Name </span>
                }
            }
            @if (selectedCat != -1)
            {
                <span style="border-radius:0.5rem; border-color:#c5c9cc; background:#f5f9fe" class="ml-2 p-2">دسته بندی ></span>
            }
        </div>
        @{System.Random r = new Random();} 
        <div class="card-deck">
            @foreach (var kala in Model)
            {
                <div class="card my-3">
                    @{
                        if(kala.IsTabligh == "true")
                        {
                            <div class="card-header text-center">
                                <i class="fa fa-star" style="color:gold"></i> پیشنهاد غوره <i class="fa fa-star" style="color:gold"></i>
                            </div>
                        }
                    }
                    <div class="view" style="max-width:300px;">
                        <img src="https://via.placeholder.com/300" class="card-img-top" alt="" style="max-height:300px;">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">@kala.Name</h4>
                        <p class="card-text" style="overflow:hidden;">@Utility.GetSummery(kala.Description)</p>
                    </div>
                    <div class="card-footer p-1 d-flex justify-content-center">

                    </div>
                    <div class="card-footer p-1 d-flex" style="background:white;">
                        <div class="mr-auto my-auto pl-3 deep-orange-text">@Utility.GetCommaSeperatedNumber(kala.Price.ToString()) <span class="font-weight-bold">تومان</span></div>
                        <a class="btn btn-outline-deep-orange font-weight-bold py-2 px-3" href="~/Kala/Details/@kala.Id">مشاهده کالا</a>
                    </div>
                    
                </div>
            }
        </div>
    </div>
</div>
